$icomoon-font-path: "../assets/icons/cinema" !default;

$cinema-war: "\e900";
$cinema-action: "\e901";
$cinema-add-image: "\e902";
$cinema-add-ticket: "\e903";
$cinema-advertising: "\e904";
$cinema-alien: "\e905";
$cinema-animation: "\e906";
$cinema-apple-tv: "\e907";
$cinema-asteroid: "\e908";
$cinema-astronaut: "\e909";
$cinema-audience: "\e90a";
$cinema-av-receiver: "\e90b";
$cinema-ballet-shoes: "\e90c";
$cinema-binoculars: "\e90d";
$cinema-bunch-flowers: "\e90e";
$cinema-cable-release: "\e90f";
$cinema-camcorder-pro: "\e910";
$cinema-camcorder: "\e911";
$cinema-camera-addon: "\e912";
$cinema-camera-automation: "\e913";
$cinema-camera-identification: "\e914";
$cinema-camera: "\e915";
$cinema-captain-america: "\e916";
$cinema-channel-mosaic: "\e917";
$cinema-clapperboard: "\e918";
$cinema-close-up-mode: "\e919";
$cinema-comedy-2: "\e91a";
$cinema-comedy: "\e91b";
$cinema-adventure: "\e91c";
$cinema-compact-camera: "\e91d";
$cinema-crime: "\e91e";
$cinema-romance: "\e91f";
$cinema-delete-ticket: "\e920";
$cinema-detective: "\e921";
$cinema-documentary: "\e922";
$cinema-drama: "\e923";
$cinema-edit-image: "\e924";
$cinema-facepalm: "\e925";
$cinema-family: "\e926";
$cinema-fantasy: "\e927";
$cinema-film-noir: "\e928";
$cinema-film-reel: "\e929";
$cinema-film: "\e92a";
$cinema-gallery: "\e92b";
$cinema-mystery: "\e92c";
$cinema-historical: "\e92d";
$cinema-horror: "\e92e";
$cinema-idea: "\e92f";
$cinema-imdb: "\e930";
$cinema-integrated-webcam: "\e931";
$cinema-iron-man: "\e932";
$cinema-landscape: "\e933";
$cinema-living-room: "\e934";
$cinema-martian: "\e935";
$cinema-moon: "\e936";
$cinema-multiple-cameras: "\e937";
$cinema-music: "\e938";
$cinema-musical: "\e939";
$cinema-news: "\e93a";
$cinema-night-landscape: "\e93b";
$cinema-night-portrait: "\e93c";
$cinema-ninja-turtle: "\e93d";
$cinema-no-idea: "\e93e";
$cinema-novel: "\e93f";
$cinema-old-time-camera: "\e940";
$cinema-opera-glasses: "\e941";
$cinema-panorama: "\e942";
$cinema-planet: "\e943";
$cinema-podium-with-audience: "\e944";
$cinema-podium-with-speaker: "\e945";
$cinema-portrait-mode: "\e946";
$cinema-predator: "\e947";
$cinema-puzzle: "\e948";
$cinema-rating: "\e949";
$cinema-remove-image: "\e94a";
$cinema-tv-movie: "\e94b";
$cinema-rotate-camera: "\e94c";
$cinema-science-fiction: "\e94d";
$cinema-scream: "\e94e";
$cinema-sdtv: "\e94f";
$cinema-selfie: "\e950";
$cinema-short: "\e951";
$cinema-slr-back-side: "\e952";
$cinema-speaker: "\e953";
$cinema-sport: "\e954";
$cinema-sports-mode: "\e955";
$cinema-stack-of-photos: "\e956";
$cinema-starred-ticket: "\e957";
$cinema-start: "\e958";
$cinema-steve-jobs: "\e959";
$cinema-switch-camera: "\e95a";
$cinema-theatre-mask: "\e95b";
$cinema-thriller: "\e95c";
$cinema-ticket: "\e95d";
$cinema-undergo-insomnia: "\e95e";
$cinema-video-file: "\e95f";
$cinema-video-projector: "\e960";
$cinema-watch-tv-in-bed: "\e961";
$cinema-western: "\e962";
$cinema-widescreen-tv: "\e963";
