@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-yellow, 300, 100, 200);
$accent:  mat-palette($mat-blue-grey, 200, 100, 500);
$warn:    mat-palette($mat-red, 500, 200, 700);

$app-theme: mat-dark-theme($primary, $accent, $warn);
@include angular-material-theme($app-theme);

$light-theme:   mat-light-theme($primary, $accent, $warn);
.light-theme {
  @include angular-material-theme($light-theme);
}