<md-spinner *ngIf="isLoading" class="spinner"></md-spinner>
<section *ngIf="!isLoading" class="movie-page">
  <header class="movie-header">
    <div class="movie-cover-picture" [ngStyle]="{'background-image': 'url('+Model.poster_bg+')'}"> </div>

    <div class="movie-header-content container">
      <div class="movie-poster-picture" [ngStyle]="{'background-image': 'url('+Model.poster+')'}"></div>

      <div class="movie-primary-texts">
        <h1 class="movie-title">
          {{Model.title}}
        </h1>
        <div class="movie-info-line">
          <span class="movie-release-date movie-info-piece">
            <span class="movie-info-label">year</span> {{Model.release_date.getFullYear()}}
          </span>
          <span class="movie-runtime movie-info-piece">
            <span class="movie-info-label">runtime</span> {{Model.runtime}} min
          </span>
          <span class="movie-language movie-info-piece">
            <span class="movie-info-label">language</span> {{Model.original_language}}
          </span>
          <span class="movie-rating movie-info-piece">
            <span class="movie-info-label">rating</span> {{Model.vote_average}}
          </span>
          <span class="movie-revenue movie-info-piece">
            <span class="movie-info-label">revenue</span> {{Model.revenue}}
          </span>
        </div>
        <div class="movie-secondary-headline">
          <span class="movie-genre-text" *ngFor="let genre of Model.genres">
            <i class="movie-genre-icon cinema-{{genre.name.toLowerCase()}}"></i>
            {{genre.name}}
          </span>
        </div>
      </div>
    </div>
  </header>
  <main class="movie-main container">
    <div class="movie-action-buttons">
      <button md-raised-button [ngClass]="{'added': isWatchlist}" class="add-to-whatchlist" (click)="toggleWatchlist()">
        <md-icon>{{isWatchlist ? 'remove' : 'playlist_add'}}</md-icon>
        Watchlist
      </button>
      <button md-raised-button [ngClass]="{'favorited': isFavorite}" class="add-to-favs" (click)="toggleFavorite()">
        <md-icon>{{isFavorite ? 'favorite' : 'favorite_border'}}</md-icon>
        Favourites
      </button>
    </div>
    <p class="movie-overview">{{Model.overview}}</p>
  </main>


</section>
