<div class="card-holder">
    <md-spinner *ngIf="isLoading" class="spinner"></md-spinner>
    <md-card class="card" *ngIf="!isLoading" (click)="cardClick()">
            <div class="content" >
                <div class="poster" [ngStyle]="{'background-image': 'url('+Model.poster_bg+')'}"></div>
                <div class="content-top">
                    <div class="releasedate"><i class="material-icons">camera_roll</i> {{ Model.release_date.getFullYear() }}</div>
                    <div class="actions">
                        <div *ngIf="!addedToFavorites" mdTooltip="Add to favorites"
                            [mdTooltipPosition]="tooltipPosition" (click)="toggleFavorites($event)">
                            <i class="material-icons">favorite_border</i>
                        </div>
                        <div *ngIf="addedToFavorites" mdTooltip="Remove from favorites"
                            [mdTooltipPosition]="tooltipPosition" (click)="toggleFavorites($event)">
                            <i class="material-icons">favorite</i>
                        </div>
                        <div *ngIf="!addedToWatchList" mdTooltip="Add to watchlist"
                            [mdTooltipPosition]="tooltipPosition" (click)="toggleWatchlist($event)">
                            <i class="material-icons">playlist_add</i>
                        </div>
                        <div *ngIf="addedToWatchList" md-button mdTooltip="Remove from watchlist"
                            [mdTooltipPosition]="tooltipPosition" (click)="toggleWatchlist($event)">
                            <i class="material-icons">remove</i>
                        </div>
                    </div>
                </div>
                <div class="title-plot">
                    <h1 class="title">
                        {{ Model.title }}
                    </h1>
                    <p class="plot">{{ Model.overview }}</p>
                </div>
            </div>
    </md-card>
</div>