@import '~@angular/material/theming';
@import 'src/styles/theme.scss';

$cardMainFontColor: lighten(mat-color($primary), 10%);

:host {
    display: flex;
    margin: 0 0 1em;
    height: 15em;
    font-size: 1em;
    flex: 0 0 10.96em;
}

.card-holder {
    padding: .5em;
}

md-card {
    display: flex;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: column;
    user-select: none;

    md-card-title {
        margin: 0;
        color: $cardMainFontColor;
        font-size: 16px;
        font-weight: 300;
    }

    md-card-subtitle {
        color: $cardMainFontColor;
        font-size: 1em;
        font-weight: 500;
    }

    md-card-actions {
        display: flex;
        justify-content: space-around;

        button {
            min-width: 0;
        }
    }
}
