.movie-card {
  width: 250px;
  height: 350px;
  margin: 12px;
  float: left;
}

.movie-header-image {
  background-size: cover;
}

.movie-header{
  width: 100%;
}

.movie-content-description{
  height: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
}