<mat-card *ngIf="!isLoading" (click)="cardClick()" role="group">
    <mat-spinner *ngIf="isLoading" class="spinner"></mat-spinner>
    <img mat-card-image src="{{Model.poster_bg}}">
    <mat-card-title>
        {{ Model.title }}
        <small> ({{ Model.release_date | date:"yyyy" }})</small>
    </mat-card-title>
    <mat-card-content layout="row" layout-align="start center">
        <p>
            {{ Model.overview }}
        </p>
    </mat-card-content>
    <mat-card-actions layout="row" layout-align="end center">
        <button mat-icon-button matTooltip="Add to favorite" [matTooltipPosition]="tooltipPosition" (click)="favorite($event)">
            <mat-icon>favorite_border</mat-icon>
        </button>
        <button mat-icon-button *ngIf="!addedToWatchList" matTooltip="{{addedToWatchList ? 'Remove from watchlist' : 'Add to watchlist'}}"
            [matTooltipPosition]="tooltipPosition" (click)="watchlist($event)">
            <mat-icon>playlist_add</mat-icon>
        </button>
        <button mat-icon-button *ngIf="addedToWatchList" mat-button matTooltip="{{addedToWatchList ? 'Remove from watchlist' : 'Add to watchlist'}}"
            [matTooltipPosition]="tooltipPosition" (click)="watchlist($event)">
            <mat-icon>remove</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>