<!--The whole content below can be removed with the new code.-->
<md-sidenav-container>
  <md-sidenav #sidenav mode="side">
    <nav>
      <h3><md-icon class="md-24">home</md-icon>Home</h3>
      <ul>
        <li><a routerLink="/home">Home</a></li>
      </ul>
    </nav>

    <nav>
      <h3><md-icon class="md-24">local_movies</md-icon>Movies</h3>
      <ul>
        <li><a href="#">To watch</a></li>
        <li><a href="#">Watched</a></li>
        <li><a routerLink="/movies">All</a></li>
      </ul>
    </nav>

    <nav>
      <h3><md-icon class="md-24">camera_roll</md-icon>Series</h3>
      <ul>
        <li><a href="#">To watch</a></li>
        <li><a href="#">Watched</a></li>
        <li><a routerLink="/series">All</a></li>
      </ul>
    </nav>

    <nav>
      <h3><md-icon class="md-24">info_outline</md-icon>About</h3>
      <ul>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon class="md-24" >menu</md-icon>
    </button>

    Show-Tartó

    <span class="app-toolbar-filler"></span>
  </md-toolbar>

  <!-- primary content -->
  <router-outlet></router-outlet>

</md-sidenav-container>
