@import '~@angular/material/theming';
@import 'src/styles/theme.scss';

mat-sidenav-container {
    height: 100%;
    font-size: 1.4em;
}

mat-sidenav {
    width: 250px;
    box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
    transition: transform .4s cubic-bezier(.25, .8, .25, 1);

    h3 {
        margin: 0;
        border: none;
        padding: 10px;
        color: mat-color($primary);
        font-size: 12px;
        font-weight: 400;
        line-height: 26px;
        text-transform: uppercase;
        background: rgba(0, 0, 0, .32);
        letter-spacing: 1px;

        .mat-icon {
            float: left;
            margin-right: 5px;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            margin: 0;
            border-color: rgba(0, 0, 0, .06);
            padding: 0;
            color: rgba(0, 0, 0, .54);
            border-bottom-width: 1px;
            border-bottom-style: solid;

            a {
                position: relative;
                display: block;
                padding: 0 16px;
                color: mat-color($primary, 100);
                font-size: 14px;
                font-weight: 200;
                line-height: 47px;
                text-decoration: none;
                transition: all .1s;

                &:hover {
                    color: mat-color($primary);
                    background-color: rgba(0, 0, 0, .1);
                }
            }
        }
    }
}
