<!--The whole content below can be removed with the new code.-->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over">
    <nav>
      <h3><mat-icon class="md-24">home</mat-icon>Home</h3>
      <ul>
        <li><a routerLink="/home">Home</a></li>
      </ul>
    </nav>

    <nav>
      <h3><mat-icon class="md-24">local_movies</mat-icon>Movies</h3>
      <ul>
        <li><a routerLink="/movies/all">All</a></li>
        <li><a routerLink="/movies/watchlist">To watch</a></li>
        <li><a routerLink="/movies/favorites">Favorites</a></li>
      </ul>
    </nav>

    <nav>
      <h3><mat-icon class="md-24">camera_roll</mat-icon>Series</h3>
      <ul>
        <li><a href="#">To watch</a></li>
        <li><a href="#">Watched</a></li>
        <li><a routerLink="/series">All</a></li>
      </ul>
    </nav>

    <nav>
      <h3><mat-icon class="md-24">info_outline</mat-icon>About</h3>
      <ul>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon class="md-24" >menu</mat-icon>
    </button>

    Show-Tartó

    <span class="app-toolbar-filler"></span>
  </mat-toolbar>

  <!-- primary content -->
  <router-outlet></router-outlet>

</mat-sidenav-container>
