.popular-list {    
    width: 100%;

    .spinner{
        margin: 0 auto;
    }

    .center-list{
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 1em;

        st-moviecard {
            flex: 0 0 calc(20% - 0.8em);
            height: 24vw;
            margin-right: 1em;
            margin-bottom: 1em;
            &:nth-child(5n) {
                margin-right: 0;
            }
        }
    }
}
