.popular-list {    
    width: 100%;

    .spinner{
        margin: 0 auto;
    }

    .center-list{
        margin: 0 auto;
        padding: 1%;
        display: flex;
        justify-content: space-between;

        st-moviecard {
            width: 19%;
            height: 23vw;
        }
    }
}
