<div class="watch-list container">
	<div class="center-list">
		<mat-button-toggle-group [ngModel]="filterType">
			<mat-button-toggle value="0" routerLink="../all" >
				<mat-icon>view_comfy</mat-icon>
			</mat-button-toggle>
			<mat-button-toggle value="2" routerLink="../watchlist">
				<mat-icon>visibility</mat-icon>
			</mat-button-toggle>
			<mat-button-toggle value="1" routerLink="../favorites">
				<mat-icon>favorite_border</mat-icon>
			</mat-button-toggle>
		</mat-button-toggle-group>
	</div>
    <div class="center-list">
        <st-moviecard *ngFor="let id of watchListIds | async" [Id]='id'></st-moviecard>
    </div>
</div>