md-input-container {
	width: 100%;

	md-icon {
		vertical-align: middle;
		margin-right: 1em;
	}
}

md-option {
	$option-height: 75px;
	$option-padding: 5px;

	height: $option-height;

	.show-result {
		padding: $option-padding 0;
		display: flex;

		.poster {
			object-fit: cover;
			width: $option-height * 2 / 3;
			height: $option-height - 2 * $option-padding;
		}

		.title-buttons-container {
			padding: 10px 0 0 10px;
			line-height: 1em;
		}

		.year {
			margin-left: auto;
		}
	}
}