<mat-input-container>
	<input type="search" matInput [formControl]="searchInput" placeholder="Find movie or series" [matAutocomplete]="auto">
</mat-input-container>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayResultInSearchbox">
	<mat-option *ngFor="let show of showSearchResults | async" [value]="show" >
		<div class="show-result" (click)="goToDetails(show)">
			<img class="poster" src="{{show.posterUrl}}"/>
			<h4 class="title">{{ show.title }} <small class="year">{{ show.year }}</small> </h4>
			<div class="buttons">
				<button mat-icon-button color="accent" (click)="addToFavorites(show, $event)" title="Add to favorites">
					<mat-icon>favorite_border</mat-icon>
                </button>
                <button mat-icon-button color="accent" (click)="addToWatchList(show, $event)" title="Add to watchlist">
					<mat-icon>playlist_add</mat-icon>
				</button>
			</div>
		</div>
	</mat-option>
</mat-autocomplete>
