@import '~@angular/material/theming';
@import 'src/styles/theme.scss';

:host {
    display: block;
    margin: 1em auto 0;

    @media (max-width: 376px) {
        margin-right: 1em;
        margin-left: 1em;
    }
}

md-input-container.mat-form-field {
    width: 100%;

    md-icon {
        margin-right: 1em;
        vertical-align: middle;
    }
}

$option-height: 4.688em;
$option-padding: .313em;

md-option {
    height: 100%;

    .show-result {
        display: grid;
        padding: $option-padding 0;
        width: 100%;
        height: $option-height - 2 * $option-padding;
        grid-gap: 10px;
        grid-template-areas: "poster  title  buttons";
        grid-column-start: 1;
        grid-template-columns: 50px auto 85px;

        .poster {
            margin: 0 .625em 0 0;
            width: $option-height * 2 / 3;
            height: $option-height - 2 * $option-padding;
            grid-area: poster;
            object-fit: cover;
        }

        .title {
            margin: 0;
            padding: 0;
            grid-area: title;
            align-self: center;
            color: mat-color($primary);
        }

        .buttons {
            float: right;
            grid-area: buttons;
            align-self: center;
            font-size: 1em;

            button {
                margin: 0;
                padding: 0;
                min-width: 0;
                font-size: 1.3em;
            }
        }

        .year {
            font-size: .75em;
            font-weight: 400;
            grid-area: year;
        }
    }
}

@media (max-width: 600px) {
    md-option {
        height: 100%;

        .show-result {
            height: 8.124em;
            grid-template-areas:
                "poster buttons"
                "title title";
            justify-content: space-between;
            grid-template-rows: 50% 50%;
            grid-template-columns: 75%;

            .title {
                margin-right: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
            }
        }

        &:nth-child(odd) {
            background: #000;
        }
    }
}
